.playerSheet {
  display: inline-block;
  padding: 20px;
  text-align: center;
  margin: 16px;
  border: none;
  background-color: rgb(40, 194, 125);
  font-family: Bangers;
}

.image{
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);

}
