@import url('https://fonts.googleapis.com/css?family=Bangers|Russo+One');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  padding-bottom: 2cm;
  background-color: rgb(113, 198, 240);
}



.player{
  border-radius: 20px;
}



.versus {
  font-family: Bangers;
  font-size: 35px;
  text-align: center;
  width: 620px;
   height: 100px;
   position: fixed;
   top: 82%;
   left: 50%;
   margin-left: -310px;
   margin-top: -50px;
}

.fight {
  font-family: Bangers;
  font-size: 35px;
  position: absolute;
  left: 31%;
  top: 83%;
  width: 200px;
  padding: 20px 40px;
  outline: none;
}

.fight:active{
  transform: translateY(-0.3rem);
  box-shadow: 0 5px 10px;
}

.reset{
  font-family: Bangers;
  font-size: 35px;
  position: absolute;
  left: 51%;
  top: 83%;
  width: 200px;
  padding: 20px 40px;
  outline: none;
}

.reset:active{
  transform: translateY(-0.3rem);
  box-shadow: 0 5px 10px;
}

.move{
  position: absolute;
  left: 30%;
}
