@import url('https://fonts.googleapis.com/css?family=Bangers|Russo+One');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  padding-bottom: 2cm;
  background-color: #d63232;
}

.player{
  border-radius: 20px;
}

.versus {
  font-family: Bangers;
  font-size: 35px;
  text-align: center;
  width: 620px;
   height: 100px;
   position: absolute;
   top: 70%;
   left: 50%;
   margin-left: -310px;
   margin-top: -50px;
   color: #19717e;
   -webkit-text-stroke-width: 0.02px;
   -webkit-text-stroke-color: #fdea34;
   text-shadow: 2px 5px rgb(32, 30, 31);
}

.fight {
  font-family: Bangers;
  font-size: 35px;
  color: yellow;
  position: absolute;
  left: 31%;
  top: 100%;
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 1cm;
  outline: none;
  border: 2px solid #fdea34;
  background-color: #19717e;
  box-shadow: 6px 8px #1f2226;

}

.fight:active{
  transform: translateY(0.3rem);
  box-shadow: 0.3rem 0.3rem #1f2226;
}


.reset{
  font-family: Bangers;
  font-size: 35px;
  color: yellow;
  position: absolute;
  left: 51%;
  top: 100%;
  width: 200px;
  padding: 10px 20px;
  outline: none;
  border: 2px solid #fdea34;

  background-color: #19717e;
  box-shadow: -5px 8px #1f2226;
}

.reset:active{
  transform: translateY(0.3rem);
  box-shadow: -0.2rem 0.3rem #1f2226;
}

.move{
  position: absolute;
  left: 30%;
}

.a{
  position: absolute;
  top: 28%;
  left: 36%;

}

.character{
  display: inline-block;
  position: absolute;
  top: 68%;
  left: 8%;
}

.title{
  position: absolute;
  top: -2%;
  left: 29%;
}

.star{
  position: absolute;
  top: 43%;
  left: 20%;
}

.star2{
  position: absolute;
  top: 64%;
  left: 65%;
  transform: rotate(80deg);
}

.you{
  position: absolute;
  top: 43%;
  left: 25%;
}

.lose{
  position: absolute;
  top: 55%;
  left: 57%;
}
